.calltoaction {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	box-shadow: inset 0 0 0 2000px rgba(13, 54, 47, 0.45);
	padding:120px 0 !important;
	
	color:#FFF;
	
	h2 {
		order: 1;
		color:#000;
		margin-bottom:30px;
		line-height:1.2;
		span {
			color:$brightgreen !important;
		}
		
		font-size:35px;
	
	
		
		
	}
	h4 {
		margin-bottom:10px;
		font-size:14px;
		color:$darkgreen !important;
		text-transform: uppercase;
		order: 0;
		font-family: "lato", sans-serif;
		font-weight: 400;
		
		
	}
	p {
		order: 2;
		color:$Basecolor;
		
		&:last-of-type {
			margin-bottom:0px;
		}
	}
	
	h2,h4,p {
		text-align:center !important;
		margin-left:auto;
		margin-right:auto;
		color:#FFF;
		
		
	}
	
	a.linkbox {
		border-radius:5px;
			order:5;
			border:1px solid #FFF;
			color:#FFF;
			padding:8px 20px 9px;
			  margin:50px  auto 0;
			  display:inline-block;
			  text-decoration: none;
			  text-transform: uppercase;
			  
			font-weight: 400;		  
			  &:hover {
				  border:1px solid $greenhover;
				  background-color:$greenhover;
				  color:#FFF;
				  cursor:pointer;
				  transition: all 500ms linear;
			  }
		}
	
}