/*


font-family: "georgiapro", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "lato", sans-serif;
font-weight: 400;
font-style: normal;

ont-family: "lato", sans-serif;
font-weight: 500;
font-style: normal;

*/